### Chargement des librarires :

In [3]:
import pandas as pd
import numpy as np

### Chargement de l'ensemble des bases de données :

In [4]:
caracteristiques_2019_2021 = pd.read_csv("merged_tables/caracteristiques_2019_2021.csv", sep=',')
lieux_2019_2021 = pd.read_csv("merged_tables/lieux_2019_2021.csv", sep=',')
usagers_2019_2021 = pd.read_csv("merged_tables/usagers_2019_2021.csv", sep=',')
vehicules_2019_2021 = pd.read_csv("merged_tables/vehicules_2019_2021.csv", sep=',')

C:\Users\m13012302\AppData\Local\Temp\ipykernel_1064\4114563234.py:2: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_2019_2021 = pd.read_csv("merged_tables/lieux_2019_2021.csv", sep=',')

In [5]:
user_carac = caracteristiques_2019_2021.merge(usagers_2019_2021, on='Num_Acc')

In [36]:
usagers_2019_2021

             Num_Acc  id_vehicule num_veh  place  catu  grav  sexe  an_nais  trajet  secu1  secu2  secu3  locp actp  etatp
0       201900000001  138 306 524     B01    2.0     2   4.0   2.0   2002.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
1       201900000001  138 306 524     B01    1.0     1   4.0   2.0   1993.0     5.0    1.0    NaN    NaN   NaN  NaN    NaN
2       201900000001  138 306 525     A01    1.0     1   1.0   1.0   1959.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
3       201900000002  138 306 523     A01    1.0     1   4.0   2.0   1994.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
4       201900000003  138 306 520     A01    1.0     1   1.0   1.0   1996.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
...              ...          ...     ...    ...   ...   ...   ...      ...     ...    ...    ...    ...   ...  ...    ...
367420  202100056516      100 885     A01    1.0     1   4.0   1.0   1975.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
367421  202100056516      100 886     B01    1.0     1   4.0   1.0   2002.0     5.0    1.0    NaN    NaN   NaN  NaN    NaN
367422  202100056517      100 884     A01    1.0     1   3.0   1.0   1999.0     NaN    NaN    NaN    NaN   NaN  NaN    NaN
367423  202100056518      100 882     A01    1.0     1   3.0   1.0   1968.0     3.0    1.0    NaN    NaN   NaN  NaN    NaN
367424  202100056518      100 883     B01    1.0     1   3.0   1.0   1985.0     3.0    1.0    NaN    NaN   NaN  NaN    NaN

[367425 rows x 15 columns]

In [7]:
user_carac.to_csv('usercarac.csv', index=False)

In [34]:
user_carac

             Num_Acc  day  month  year   hrmn  lum dep    com  agg  int  atm  col                        adr            lat            long  id_vehicule num_veh  place  catu  grav  sexe  an_nais  trajet  secu1  secu2  secu3  locp actp  etatp
0       201900000001   30     11  2019  01:30  4.0  93  93053    1  1.0  1.0  2.0               AUTOROUTE A3     48,8962100       2,4701200  138 306 524     B01    2.0     2   4.0   2.0   2002.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
1       201900000001   30     11  2019  01:30  4.0  93  93053    1  1.0  1.0  2.0               AUTOROUTE A3     48,8962100       2,4701200  138 306 524     B01    1.0     1   4.0   2.0   1993.0     5.0    1.0    NaN    NaN   NaN  NaN    NaN
2       201900000001   30     11  2019  01:30  4.0  93  93053    1  1.0  1.0  2.0               AUTOROUTE A3     48,8962100       2,4701200  138 306 525     A01    1.0     1   1.0   1.0   1959.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
3       201900000002   30     11  2019  02:50  3.0  93  93066    1  1.0  1.0  6.0               AUTOROUTE A1     48,9307000       2,3688000  138 306 523     A01    1.0     1   4.0   2.0   1994.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
4       201900000003   28     11  2019  15:15  1.0  92  92036    1  1.0  1.0  4.0              AUTOROUTE A86     48,9358718       2,3191744  138 306 520     A01    1.0     1   1.0   1.0   1996.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
...              ...  ...    ...   ...    ...  ...  ..    ...  ...  ...  ...  ...                        ...            ...             ...          ...     ...    ...   ...   ...   ...      ...     ...    ...    ...    ...   ...  ...    ...
367420  202100056516    1      1  2021  18:00  3.0  26  26064    1  1.0  2.0  1.0   Route départementale 538  44,9112100000    5,0196360000      100 885     A01    1.0     1   4.0   1.0   1975.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN
367421  202100056516    1      1  2021  18:00  3.0  26  26064    1  1.0  2.0  1.0   Route départementale 538  44,9112100000    5,0196360000      100 886     B01    1.0     1   4.0   1.0   2002.0     5.0    1.0    NaN    NaN   NaN  NaN    NaN
367422  202100056517    1      1  2021  10:55  1.0  33  33003    1  2.0  1.0  6.0  Voie rapide Bassens Ambes  44,9542747363   -0,5179211363      100 884     A01    1.0     1   3.0   1.0   1999.0     NaN    NaN    NaN    NaN   NaN  NaN    NaN
367423  202100056518    2      1  2021  18:00  3.0  78  78423    1  1.0  3.0  1.0             VOLTA (AVENUE)  48,7966700000    2,0505000000      100 882     A01    1.0     1   3.0   1.0   1968.0     3.0    1.0    NaN    NaN   NaN  NaN    NaN
367424  202100056518    2      1  2021  18:00  3.0  78  78423    1  1.0  3.0  1.0             VOLTA (AVENUE)  48,7966700000    2,0505000000      100 883     B01    1.0     1   3.0   1.0   1985.0     3.0    1.0    NaN    NaN   NaN  NaN    NaN

[367425 rows x 29 columns]

In [9]:
user_carac_lieux = user_carac.merge(lieux_2019_2021, on='Num_Acc')

In [10]:
user_carac_lieux.to_csv('userrrr.csv', index=False)

In [11]:
final_df = user_carac_lieux.merge(vehicules_2019_2021, on='id_vehicule')

In [12]:
final_df.to_csv('finaldf.csv', index=False)

In [14]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [27]:
final_df = final_df.rename(columns={'Num_Acc_x':'Num_Acc', 'num_veh_x':'num_veh'})
final_df = final_df.drop(['Num_Acc_y', 'num_veh_y'], axis=1)
final_df

             Num_Acc  day  month  year   hrmn  lum dep    com  agg  int  atm  col                        adr            lat            long  id_vehicule num_veh  place  catu  grav  sexe  an_nais  trajet  secu1  secu2  secu3  locp actp  etatp  catr voie  v1   v2  circ   nbv  vosp  prof   pr  pr1  plan lartpc larrout  surf  infra  situ   vma  senc  catv  obs  obsm  choc  manv  motor  occutc
0       201900000001   30     11  2019  01:30  4.0  93  93053    1  1.0  1.0  2.0               AUTOROUTE A3     48,8962100       2,4701200  138 306 524     B01    2.0     2   4.0   2.0   2002.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN     1    3 NaN  NaN   3.0  10.0   NaN   1.0    6  900   2.0    NaN     NaN   1.0    2.0   1.0  70.0   2.0   7.0  0.0   2.0   5.0  23.0    1.0     NaN
1       201900000001   30     11  2019  01:30  4.0  93  93053    1  1.0  1.0  2.0               AUTOROUTE A3     48,8962100       2,4701200  138 306 524     B01    1.0     1   4.0   2.0   1993.0     5.0    1.0    NaN    NaN   NaN  NaN    NaN     1    3 NaN  NaN   3.0  10.0   NaN   1.0    6  900   2.0    NaN     NaN   1.0    2.0   1.0  70.0   2.0   7.0  0.0   2.0   5.0  23.0    1.0     NaN
2       201900000001   30     11  2019  01:30  4.0  93  93053    1  1.0  1.0  2.0               AUTOROUTE A3     48,8962100       2,4701200  138 306 525     A01    1.0     1   1.0   1.0   1959.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN     1    3 NaN  NaN   3.0  10.0   NaN   1.0    6  900   2.0    NaN     NaN   1.0    2.0   1.0  70.0   2.0  17.0  1.0   0.0   3.0  11.0    1.0     NaN
3       201900000002   30     11  2019  02:50  3.0  93  93066    1  1.0  1.0  6.0               AUTOROUTE A1     48,9307000       2,3688000  138 306 523     A01    1.0     1   4.0   2.0   1994.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN     1    1 NaN  NaN   1.0   2.0   NaN   4.0    3  845   2.0    NaN     NaN   1.0    NaN   1.0  70.0   1.0   7.0  4.0   0.0   1.0   0.0    1.0     NaN
4       201900000003   28     11  2019  15:15  1.0  92  92036    1  1.0  1.0  4.0              AUTOROUTE A86     48,9358718       2,3191744  138 306 520     A01    1.0     1   1.0   1.0   1996.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN     1   86 NaN  NaN   3.0   8.0   NaN   1.0   10  500   3.0    NaN     NaN   1.0    NaN   1.0  90.0   1.0   7.0  0.0   2.0   1.0   2.0    1.0     NaN
...              ...  ...    ...   ...    ...  ...  ..    ...  ...  ...  ...  ...                        ...            ...             ...          ...     ...    ...   ...   ...   ...      ...     ...    ...    ...    ...   ...  ...    ...   ...  ...  ..  ...   ...   ...   ...   ...  ...  ...   ...    ...     ...   ...    ...   ...   ...   ...   ...  ...   ...   ...   ...    ...     ...
367420  202100056516    1      1  2021  18:00  3.0  26  26064    1  1.0  2.0  1.0   Route départementale 538  44,9112100000    5,0196360000      100 885     A01    1.0     1   4.0   1.0   1975.0     NaN    1.0    NaN    NaN   NaN  NaN    NaN     3  538 NaN  NaN   2.0   2.0   NaN   2.0   49   24   2.0    NaN      -1   2.0    NaN   1.0  80.0   1.0   7.0  0.0   2.0   1.0   5.0    1.0     NaN
367421  202100056516    1      1  2021  18:00  3.0  26  26064    1  1.0  2.0  1.0   Route départementale 538  44,9112100000    5,0196360000      100 886     B01    1.0     1   4.0   1.0   2002.0     5.0    1.0    NaN    NaN   NaN  NaN    NaN     3  538 NaN  NaN   2.0   2.0   NaN   2.0   49   24   2.0    NaN      -1   2.0    NaN   1.0  80.0   2.0   7.0  0.0   2.0   3.0   1.0    1.0     NaN
367422  202100056517    1      1  2021  10:55  1.0  33  33003    1  2.0  1.0  6.0  Voie rapide Bassens Ambes  44,9542747363   -0,5179211363      100 884     A01    1.0     1   3.0   1.0   1999.0     NaN    NaN    NaN    NaN   NaN  NaN    NaN     4  NaN NaN  NaN   2.0   2.0   NaN   1.0  (1)  (1)   2.0    NaN      -1   2.0    5.0   3.0  80.0   2.0   7.0  6.0   0.0   5.0   6.0    1.0     NaN
367423  202100056518    2      1  2021  18:00  3.0  78  78423    1  1.0  3.0  1.0             VOLTA (AVENUE)  48,7966700000    2,0505000000      100 882     A01    1.0     1   3.0   1.0   1968.0     3.0    1.0    NaN    NaN   NaN  NaN    NaN     3  129 NaN  NaN   2.0   2.0   NaN   1.0    2  290   1.0    NaN      -1   2.0    NaN   1.0  70.0   2.0   7.0  0.0   2.0   1.0   6.0    1.0     NaN
367424  202100056518    2      1  2021  18:00  3.0  78  78423    1  1.0  3.0  1.0             VOLTA (AVENUE)  48,7966700000    2,0505000000      100 883     B01    1.0     1   3.0   1.0   1985.0     3.0    1.0    NaN    NaN   NaN  NaN    NaN     3  129 NaN  NaN   2.0   2.0   NaN   1.0    2  290   1.0    NaN      -1   2.0    NaN   1.0  70.0   1.0   7.0  0.0   2.0   1.0   1.0    1.0     NaN

[367425 rows x 54 columns]

In [38]:
final_df['grav'].value_counts()

1.0    153689
4.0    147461
3.0     56718
2.0      9497
Name: grav, dtype: int64

In [39]:
final_df['sexe'].value_counts()

1.0    249038
2.0    115325
Name: sexe, dtype: int64

In [41]:
final_df.groupby('grav').sexe.value_counts()

grav  sexe
1.0   1.0     108034
      2.0      42653
2.0   1.0       7430
      2.0       2067
3.0   1.0      40407
      2.0      16311
4.0   1.0      93167
      2.0      54294
Name: sexe, dtype: int64

In [49]:
final_df.groupby('year').value_counts()

Series([], dtype: int64)

In [42]:
(
final_df
    .query("grav!=-1")
    .query("sexe!=-1")
    .assign(sexe= lambda x: x.sexe -1)
    .groupby("grav")
    .sexe.mean()
    .plot(kind="barh")
);

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [6]:
#regroupe les trois colonnes jour/mois/année en une seule au format adapté
caracteristiques_2017_2021['full_date'] = pd.to_datetime(caracteristiques_2017_2021[['year', 'month', 'day']])

In [7]:
# Le vendredi est le jour de la semaine regroupant le plus d'accidents, le dimanche est le jour le moins accidenté
caracteristiques_2017_2021['full_date'].dt.day_name().value_counts()

Friday       47009
Thursday     41906
Tuesday      41154
Wednesday    40604
Saturday     39242
Monday       38032
Sunday       33639
Name: full_date, dtype: int64